*{
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

.header{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 186, 52);
  color: black;
}

.body{
  display: flex;
  margin-top: 10px;
}

.body-left, .body-right{
  height: 500px;
}

.body-left{
  width: 1120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-right{
  width: 360px;
  background-color: rgb(158, 9, 131);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  background-color: white;
}

.boxx{
  display: flex;
  margin-top: 10px;
}

.box{
  width: 360px;
  height: 220px;
  background-color: rgb(173, 173, 67);
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.footer{
  height: 60px;
  background-color: rgb(217, 41, 217);
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.text{
  height: 60px;
  justify-content: left;
  display: flex;
  margin-top: 10px;
}